.days-in-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  height: 540px;
}

.day-item {
  position: relative;
  color: #a8a8a8;
  font-weight: 600;
  font-size: 1.2rem;
  user-select: none;

  .date-item-am {
    color: #a8a8a8;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
  }

  &.enable {
    color: #000;
    cursor: pointer;

    &:hover {
      background-color: #a8a8a8;

      .date-item-am {
        color: #e7e7e7;
      }
    }
  }

  &.selected {
    color: #fff;
    background-color: #0d83cc;
  }

  .events-date-wrapper {
    position: absolute;
    bottom: 6px;
    width: 100%;
  }
}
